/* .template{
    height: 100%;
    width: 100%;
}

#edit_target #dialogBtn {
    display: none;
}

#edit_target .dialog-text {
    height: 35px;
    border: 1px solid #80808029;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 4px;
    padding-left: 12px;
    margin-bottom: 5%;
    cursor: pointer;
}

@media (max-width: 650px) {
    #togglebtn{
        display: none;
    }
}

#edit_target .add-widget-button {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

body.fluent.e-bigger #edit_target .e-btn.e-primary,  body.fluent-dark.e-bigger #edit_target .e-btn.e-primary{
    width : 100px !important;
    margin: -8px;
}

#edit_dashboard.e-dashboardlayout.e-control .e-panel:hover span {
    display: block;
}

#edit_dashboard.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
    height: 35px;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid #e6e9ed !important;
    line-height:35px;
}

#edit_dashboard .e-panel-content {
    height: calc(100% - 37px) !important;
    overflow: hidden;
    width:100%;
}


.bootstrap5-dark .dialog-text,
.highcontrast .dialog-text,
.tailwind-dark .dialog-text,
.fabric-dark .dialog-text,
.bootstrap-dark .dialog-text {
    border: 1px solid #FFFFFF;
}


#edit_dashboard.e-dashboardlayout.e-control .e-panel,
#edit_dashboard.e-dashboardlayout.e-control .e-panel:hover,
#edit_dashboard.e-dashboardlayout.e-control .e-panel:active {
    border: 1px solid #bbb;
}

#edit_target .e-dialog .e-dlg-header-content {
    border-bottom: none;
    padding: 18px 18px 18px 20px;
}

#edit_target .edit::before {
    content: '\e501';
    font-family: 'e-sb-icons';
    margin-left: -7px;
    vertical-align: middle;
}

#edit_target .save::before {
    content: '\e500';
    font-family: 'e-sb-icons';
    margin-left: -7px;
    vertical-align: middle;
}

#edit_dashboard{
    display: block;
}

.dashboard-buttons{
    background-color: #2185d0 !important;
            color: #fff !important;
            text-shadow: none !important;
            background-image: none !important;
            font-size: 1rem !important;
            font-weight: 700 !important;
            text-align: center !important;

         
            line-height: 1.8em !important;
            font-style: normal !important;
            text-align: center !important;
            text-decoration: none !important;
            border-radius: 0.28571429rem !important;
}
 */


 /* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .active {
    background-color: burlywood;
  }
  
  .e-waiting {
    position: fixed;
    display: block;
    margin: 0px auto;
    width: 54px;
    height: 54px;
    zoom: 0.5;
    margin-left: 55px;
  }
  
  #container {
    width: 13%;
    float: left;
    height: 100%;
    float: left;
    background: #f4f4f4;
    height: 100%;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .12);
    overflow: auto;
    overflow-x: hidden;
  }
  
  #panel {
    width: 100%;
    float: left;
    background: #f4f4f4;
    overflow: auto;
  }
  
  #dashboard {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
  }
  
  .dashboard-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    width: 200px;
  }
  
  #viewer-header {
    padding: 10px;
    display: block;
    float: left;
    width: 100%;
  }
  
  html,
  body,
  app-root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto;
    font-size: 13px;
  }
  
  .tab {
    padding-top: 2px;
    padding-bottom: 18px;
    cursor: pointer
  }
  
  .e-dbrd-blueWaitingIndcator {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 54px;
    width: 54px;
    top: 50%;
    left: 50%;
    position: relative;
  }
  
  #grid-title {
    font-size: 17px;
    border-bottom: 1px solid #333;
    padding: 15px;
  }
  
  #viewer-section {
    width: 87%;
    height: 100%;
    float: left;
  }
  
  .dashboard-item {
    padding: 10px;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    cursor: pointer;
    width: 100% !important
  }

  #dashboard {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
  }
   */
  /* .dashboard-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  #viewer-section {
    width: 87%;
    height: 100%;
    float: left;
  } */
  
  /* #viewer-header {
    padding: 10px;
    display: block;
    float: left;
    width: 100%;
  } */

  .bbi-dbrd-designer-widget-name {
    height:45px !important;
  }

  @import url('http://desktop-1mq5eqq:49987/bi/webdesignerservice/themes/ej.dashboarddesigner.min.css');
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700')